.model-SavedFolder {
    background: var(--background);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 60rem;
    width: 95%;




    .header-SavedFolder {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 1.5rem;
        border-bottom: .1rem solid #dbdbdb;
        position: relative;
        
        
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3,
            span {
                cursor: pointer;
                font-size: 1.7rem;
                text-transform: none;

                svg {
                    font-size: 2.5rem;
                }
            }
        }

        .input-addFolder {
            margin-top: 1rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, opacity 0.5s ease;
            opacity: 0;
            
            &.visible {
                max-height: 4rem; 
                opacity: 1;
            }
            input {
                padding: .7rem 1.5rem;
                border: .1rem solid var(--border);
                width: 100%;
                border-radius: .5rem;

                &:focus {
                    border-color: #98a7cf;
                }
            }
        }
    }

    .savedFolder-container {
        height: 30rem;
       overflow: auto;

       &::-webkit-scrollbar {
        background: #dbdbdb;
        height: .1rem;
        width: .7rem;
        border-radius: 1rem;
      }
  
      &::-webkit-scrollbar-thumb {
        height: .1rem;
        width: .3rem;
        background: #777;
        border-radius: 5rem;
        cursor: pointer;
      }
        .wrapper-folder{
        margin: 1.5rem 0;
        display: grid;
        padding: 0 1rem;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 1.5rem;
    
            
            .box-folderSave {
                border-radius: 1rem;
                padding: 1.5rem;
                background: var(--background);
                box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
                cursor: pointer;
                height: 8rem;
                background: linear-gradient(to right, #fbe7c2, #a6c1ee);
                
                &.active {
                    border: .1rem solid #0095f6;
                }
    
                h4 {
                    font-size: 1.4rem;
                    text-transform: capitalize;
                }
            }
        }
    }
}