.work {
    display: flex;
    min-height: 93vh;

    .wrapper-work {
        margin: auto;
        max-width: 130rem;
        height: 66rem;
        border-radius: 1rem;
        width: 98%;
        display: flex;
        align-items: center;
        gap: 2rem;
        background: #fff;
        padding: 2rem;
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .2);

        .content {
            flex: 1 1 26rem;
            padding: 2rem;

            h2 {
                font-size: 5rem;
                color: #333;
            }

            .container-content {
                h5 {
                    font-size: 2.2rem;
                    color: #333;
                    padding: 1rem 0;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 0.5rem;
                    }
                }

                .p-cnt {
                    color: #333;
                    padding: .8rem 0;
                    font-size: 2rem;
                    line-height: 1.5;
                    transition: max-height 0.3s ease, opacity 0.3s ease;
                    max-height: 0;
                    opacity: 1;
                    overflow: hidden;

                    &.visible {
                        max-height: 100px; 
                        opacity: 1;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }

                .tech {
                    p {
                        color: var(--globalColor);
                        font-weight: 550;
                        font-size: 1.7rem;
                    }
                }
            }

            .link {
                display: flex;
                gap: 2.5rem;
                margin-top: 1rem;

                a {
                    padding: 1rem;
                    border: .2rem solid var(--whiteBlur);
                    border-radius: 5rem;

                    svg {
                        color: #333;
                        font-size: 2.5rem;
                    }
                }

                a:nth-child(1) {
                    transform: rotate(45deg);
                    padding: 1rem 1.2rem;

                    &:hover {
                        border: .2rem solid var(--globalColor);
                        transition: .3s linear;
                        transform: rotate(0deg);
                    }
                }

                a:nth-child(2) {
                    &:hover {
                        transition: .3s linear;
                        border: .2rem solid var(--globalColor);
                    }
                }
            }
        }

        .images-content {
            flex: 1 1 32rem;
            width: 100%;
            border-radius: .5rem;

            img {
                display: block;
                border-radius: .5rem;
                width: 100%;
            }
        }
    }
}
