@keyframes ZoomIn {
    from {
        // max-width: 110rem;
        transform: scale(1.1);
    }

    to {
        // max-width: 100rem;
        transform: scale(1);

    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-button {
    position: absolute;
    top: -1rem;
    right: 1rem;
    padding: 2rem;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--colorTextWhite);
    overflow: hidden;
}

.modal-commentsDetails {
    background: var(--background);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    max-width: 100rem;
    height: auto;
    transition: .3s linear;
    animation: ZoomIn .3s ease-in-out;
}

.post-details {
    display: flex;

    .product-post {
        position: relative;
        width: 80rem;
        background: var(--bg_black);
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        .swiper.swiper-initialized.swiper-horizontal.mySwiper.swiper-backface-hidden {
            height: 60rem !important;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .wrapper-infoComment {
        width: 70rem;
        height: 60rem;
        padding: 2rem;
        overflow: hidden;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

        .post-info {

            p {
                margin: 1rem 0;
            }

            .post-info {
                display: flex;
                justify-content: space-between;
                font-size: 1.4rem;
                color: gray;
            }

            .header-comment {

                .user {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    padding-bottom: 1.5rem;
                    border-bottom: .1rem solid var(--border);

                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                        object-fit: cover;
                        border-radius: 5rem;
                    }

                    span {
                        font-size: 1.4rem;
                        font-weight: 550;
                    }
                }
            }

            .comments-section {
                height: 40rem;
                overflow-y: scroll;

                .image-user {
                    width: 3.5rem;
                    height: 3.5rem;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5rem;
                    }
                }

                .fullname-user {
                    font-size: 1.4rem;
                    font-weight: 550;
                    width: 39rem;
                    overflow: hidden;

                    span {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        .create_at {
                            color: #999;
                            font-size: 1.2rem;
                            font-weight: 400;
                        }
                    }

                    .description-post {
                        font-size: 1.3rem;
                        font-weight: 400 !important;
                        line-height: 1.4;
                        white-space: pre-wrap;
                    }
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                .comment {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 3rem;

                    .comment-wrapper {
                        gap: .5rem;

                        .wrapper-user {}
                    }

                    p {
                        display: flex;
                        gap: 1rem;
                        margin: 0;
                        font-size: 1.3rem;

                        img {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 5rem;
                            object-fit: cover;
                        }
                    }

                    .text-content {
                        width: 26rem;
                        margin-left: .5rem;
                        font-weight: 400;
                    }

                    .comment-meta {

                        font-size: 1.2rem;
                        color: gray;
                        margin-top: .5rem;
                    }

                    svg {
                        font-size: 1.4rem;
                    }
                }
            }

            .action {
                border-top: .1rem solid var(--border);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem 0 1.7rem 0;
                margin: .5rem 0 1.7rem 0;

                svg {
                    padding: .5rem;
                    font-size: 2.2rem;
                    margin-right: .5rem;
                    cursor: pointer;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            .post-info-bottom {
                display: flex;
                align-items: center;
                gap: .5rem;

                p {
                    font-size: 1.4rem;

                    &:nth-child(1) {
                        font-weight: 550;
                    }

                    &:last-child {
                        font-size: 1.2rem;
                        margin-top: -2.3rem;
                        color: #999;
                    }
                }
            }

            .box-commentPost {
                position: relative;
                border: .1rem solid #dbdbdb;
                border-radius: 5rem;
                overflow: hidden;

                input {
                    width: 85%;
                    padding: .8rem 1.5rem;

                    &::placeholder {
                        text-transform: capitalize;
                    }
                }

                .btn-sendComment {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .8rem 1.5rem;
                    background: none;
                    color: var(--colorTextBlack);
                }
            }
        }
    }




}